<!-- <p class="active">theme-component works!</p> -->
<div class="imp container">
    <h4>Add Strategy</h4>
    <div class="main">
        <div class="row first">
            <div class="col-md-6">
                <p>Strategy Name</p>
                <input class="long" type="text" placeholder="john doe">
            </div>
            <div class="col-md-3">
                <p>Entry Time*</p>
                <input type="text" placeholder="hh:mm (alp)m" step="900" onfocus="this.type='time'">
            </div>
            <div class="col-md-3">
                <p>Exit Time*</p>
                <input type="text" placeholder="hh:mm (alp)m" step="900" onfocus="this.type='time'">
                

            </div>
        
        </div>
        <div class="row second">
            <div class="col-md-3">
                <p>Direction</p>
                <select class="form-select" aria-label="Default select example">
                    <option selected></option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>

            <div class="col-md-3">
                <p>Timeframe</p>
                <select class="form-select" aria-label="Default select example">
                    <option selected></option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
            <div class="col-md-3">
                <p>Instrument (for analysis)</p>
                <select class="form-select" aria-label="Default select example">
                    <option selected></option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
            <div class="col-md-3">
                <p> Symbol to Trade</p>
               
            <select class="form-select" aria-label="Default select example">
                <option selected></option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
        </div>
        <div class="row third">
            <div class="col-md-3">
                <p>Indicator 1</p>
                <select class="form-select" aria-label="Default select example">
                    <option selected></option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
            <div class="col-md-3">
                <p>Period 1</p>
                <input type="number" placeholder="14" >
            </div>
            <div class="col-md-3">
                <p>Multiplier 1</p>
                <input type="number" placeholder="0">
            </div>
            <div class="col-md-3">
                <p>Candle Param 1</p>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Close</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
        </div>
        <div class="row fourth">
            <div class="col-md-3">
                <p>Indicator 2</p>
                <select class="form-select" aria-label="Default select example">
                    <option selected></option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
            <div class="col-md-3">
                <p>Period 2</p>
                <input type="number" placeholder="14" >
            </div>
            <div class="col-md-3">
                <p>Multiplier 2</p>
                <input type="number" placeholder="0" >
            </div>
            <div class="col-md-3">
                <p>Candle Param 2</p>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Close</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
        </div>
        <div class="row fifth">
            <div class="col-md-3">
                <p>Condition</p>
                <select class="form-select" aria-label="Default select example">
                    <option selected></option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
            <div class="col-md-3">
                <p>Order Type</p>
                <select class="form-select" aria-label="Default select example">
                    <option selected></option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
            <div class="col-md-3">
                <p>Target</p>
                <input type="number" placeholder="0" >
            </div>
            <div class="col-md-3">
                <p>Target Unit</p>
                <select class="form-select" aria-label="Default select example">
                    <option selected>%</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
        </div>
        <div class="row six">
            <div class="col-md-3">
                <p>Stoploss</p>
                <input type="number" placeholder="0" >
            </div>
            <div class="col-md-3">
                <p>Stoploss Unit</p>
                <select class="form-select" aria-label="Default select example">
                    <option selected>%</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
            </div>
            <div class="col-md-3">
                <p>Quantity</p>
                <input type="number" placeholder="0" >
            </div>
        </div>
    </div>
    <div class="row last">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <button type="button" class="btn btn-light" style="border: 1px solid;height: 32px; padding-top: 6px;">Cancel</button>
            <button type="button" class="btn" style="background-color: #A74AC7;border: 1px solid;width: 52%;margin-left: 6px;color: white;">Accept</button>

        </div>
        <!-- <div class="col-md-1">
        </div> -->
    </div>

</div>
